* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
}

.container-d {
  max-width: 80%;
  margin: 0 auto;
}
@media (max-width: 1350px) {
  .container-d {
    max-width: 90%;
  }
}
@media (max-width: 690px) {
  .container-d {
    max-width: 100%;
  }
}

body {
  font-size: 1em;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  opacity: 1;
  background-color: #1D1626;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 2;
}
header .header-burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}
header .header-burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}
header .header-burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
header .header-burger {
  display: none;
  position: relative;
  z-index: 3;
}
@media (max-width: 768px) {
  header .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: 5px;
  }
  header .header-burger::before, header .header-burger::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  header .header-burger::before {
    top: 0;
  }
  header .header-burger::after {
    bottom: 0;
  }
  header .header-burger span {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
}
header .header-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-body .header-logo {
  position: relative;
  z-index: 3;
}
header .header-menu.active {
  top: 0;
}
@media (max-width: 768px) {
  header .header-menu {
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 70px 10px 20px 10px;
  }
}
header .header-menu .header-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  header .header-menu .header-list {
    display: block;
    margin-top: 30%;
  }
}
header .header-menu .header-list li {
  height: 30px;
  margin-left: 40px;
}
@media (max-width: 970px) {
  header .header-menu .header-list li {
    margin-left: 20px;
  }
}
@media (max-width: 768px) {
  header .header-menu .header-list li {
    margin-left: 20px;
    margin-right: 10px;
    width: 95%;
  }
}
header .header-menu .header-list li a:hover {
  color: #D423F1;
  padding-bottom: 1px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-bottom: 2px solid #D423F1;
}
@media (max-width: 768px) {
  header .header-menu .header-list li a:hover {
    color: #ffffff;
    padding-bottom: 0;
    border-bottom: none;
  }
}
@media (max-width: 768px) {
  header .header-menu .header-list li {
    border-top: 2px solid #D423F1;
    text-align: center;
    margin-left: 0;
  }
  header .header-menu .header-list li:last-child {
    border-top: 2px solid #D423F1;
    border-bottom: 2px solid #D423F1;
  }
}
header .header-menu .header-list .header-link {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}
@media (max-width: 970px) {
  header .header-menu .header-list .header-link {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  header .header-menu .header-list .header-link {
    color: #D423F1;
  }
}

footer {
  margin-top: 20px;
  height: 145px;
  width: 100%;
  background-color: #000;
}
@media (max-width: 390px) {
  footer {
    height: 100px;
  }
}
footer .container-d h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
  color: #ffffff;
}
@media (max-width: 690px) {
  footer .container-d h2 {
    font-size: 20px;
  }
}
@media (max-width: 390px) {
  footer .container-d h2 {
    font-size: 16px;
    padding-top: 20px;
  }
}
footer .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 920px) {
  footer .logos img {
    width: 20%;
  }
}
@media (max-width: 920px) {
  footer .logos img:last-child {
    width: 10%;
  }
}

::-webkit-input-placeholder {
  color: #ffffff;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

::-moz-placeholder {
  color: #ffffff;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

:-ms-input-placeholder {
  color: #ffffff;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

::-ms-input-placeholder {
  color: #ffffff;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

::placeholder {
  color: #ffffff;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

form {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45%;
  height: 100%;
  margin: 0 auto;
  border: 2px solid #D423F1;
  border-radius: 40px;
  margin-top: 1%;
}
@media (max-width: 1160px) {
  form {
    width: 60%;
  }
}
@media (max-width: 900px) {
  form {
    width: 70%;
  }
}
@media (max-width: 745px) {
  form {
    width: 80%;
  }
}
@media (max-width: 635px) {
  form {
    height: 85%;
    width: 90%;
  }
}
form .logo {
  text-align: center;
}
form .logo img {
  width: 130px;
}
form .logo h1 {
  font-size: 32px;
  font-weight: bold;
  color: #D423F1;
  margin-bottom: 20px;
}
form .input-list .buttons {
  width: 446px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 635px) {
  form .input-list .buttons {
    width: 400px;
  }
}
@media (max-width: 512px) {
  form .input-list .buttons {
    width: 296px;
  }
}
@media (max-width: 390px) {
  form .input-list .buttons {
    width: 260px;
  }
}
form .input-list .buttons a {
  text-align: center;
  text-decoration: none;
  width: 190px;
  height: 45px;
  padding-top: 5px;
  border: 2px solid #D423F1;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #D423F1;
  margin-right: 10px;
}
@media (max-width: 512px) {
  form .input-list .buttons a {
    font-size: 16px;
    height: 31px;
    margin-top: 20px;
  }
}
form .input-list .buttons a:last-child {
  margin-right: 0;
  margin-left: 10px;
  background-color: #D423F1;
  color: #ffffff;
}
form .input-list .input-item {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 20px;
}
form .input-list .input-item:first-child {
  margin-top: 0px;
}
form .input-list .input-item label {
  font-weight: bold;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 5px;
}
form .input-list .input-item label.desc {
  color: #84809F;
  font-weight: normal;
  width: 446px;
}
form .input-list .input-item label.desc a {
  color: #2100FF;
  font-weight: normal;
}
@media (max-width: 635px) {
  form .input-list .input-item label.desc {
    width: 400px;
  }
}
@media (max-width: 512px) {
  form .input-list .input-item label.desc {
    width: 296px;
  }
}
@media (max-width: 390px) {
  form .input-list .input-item label.desc {
    width: 260px;
  }
}
form .input-list .input-item input {
  width: 446px;
  height: 48px;
  background-color: #D423F1;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 5px;
  padding: 0 0 0 15px;
}
@media (max-width: 635px) {
  form .input-list .input-item input {
    width: 400px;
  }
}
@media (max-width: 512px) {
  form .input-list .input-item input {
    width: 296px;
  }
}
@media (max-width: 390px) {
  form .input-list .input-item input {
    width: 260px;
    height: 40px;
  }
}
form .input-list .input-item input:active {
  border: 1px solid #ffffff;
}